body {
  background-image: url('/background.png');
}
.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  stroke: #aaa;
  fill: #aaa;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}

li {
  height: 30px;
}