body {
  background-image: url('/beach.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 18px;
  color: white;
}
a {
  color: #ccc;
}
a:hover {
  color: #fff;
}
.App {
  text-align: center;
}

.breadcrumb {
  color: #333;
  font-weight: 600;
}
.breadcrumb a {
  color: #555;
}
.breadcrumb a:hover {
  color: #000;
}

.App-logo {
  height: 60px;
  stroke: #aaa;
  fill: #aaa;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}

li {
  height: 30px;
}